extends ../../_templates/main-layout.pug

block content 
    if data.length > 0
        ul.items__list.box
            li.items__list__head
                div.items__list__head__fields
                    span.itemdetail Vorname
                    span.itemdetail Nachname
                    span.itemdetail E-Mail
                    span.itemdetail Telefonnummer
                    span.itemdetail
            each item in data
                li.items__list__item
                    a(href=`${path}/${item.id}?action=edit`)
                        div.items__list__item__details
                            span.itemdetail #{item.firstname}
                            span.itemdetail #{item.lastname}
                            span.itemdetail #{item.email} 
                            span.itemdetail #{item.phone} 
                        div.items__list__item__toolbar
                            a(href=`${path}/${item.id}?action=edit`).edit.button.svg
                                include ../../../public/img/edit-2.svg
                            a(href=`${path}/delete-user?id=${item.id}`).delete.button.svg
                                include ../../../public/img/trash-2.svg